{
  "env": {
    "node": true
  },
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "no-console": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any"
      }
    ],
    "radix": ["error", "as-needed"]
  }
}
