@import "node_modules/antd/dist/antd.less";
@import "node_modules/antd/dist/antd.dark.less";

/*
 * 1. Import Ant Design less files 👆
 * 
 * 2. Override default less values:
 *    https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 * 
 * 3. Run less locally to generate CSS file:
 *    $ lessc components/styles/_antd.less components/styles/antd.css --js
 *      ...process this file 👆 output this file 👆 with this extension 👆
 *    $ npm install -g less
 */

@body-background: #111010;
@primary-color: #75b748;
@link-color: #75b748;
@success-color: #00b500;
@warning-color: #faad14;
@error-color: #f5222d;
@border-color-base: #544d48;
@text-color: #ecebe3;
@text-color-dark: #272723;
@font-size-base: 16px;

@custom-header-bg: #1f1f1f;
