// Layout

#__next {
  letter-spacing: 0.3px;
}

.site-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 0px 20px 10px rgb(2, 2, 2);

  @media screen and (max-width: 789px) {
    padding: 0;
  }
}

.site-layout {
  padding: 0 50px;
  margin-top: 64px;
  margin-bottom: 64px;

  .site-layout__background {
    padding: 24px;
    min-height: 360px;
  }

  @media screen and (max-width: 789px) {
    padding: 0;
  }
}

.site-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #1f1f1f;
  padding: 1em;
  box-shadow: 0px 0px 20px 0px #000;
}

button.ant-btn-sm {
  height: 45px;
  padding: 0 20px;
}

// Action buttons

// Emoji Picker

.ant-modal-body .emoji-mart {
  background: none;
  height: 400px;
  font-family: inherit;
  border: none;
  margin: 0px auto;
  width: 100% !important; // override inline style
}

// Emoji animation

.progress-animation {
  position: relative;

  &:after {
    content: attr(data-emoji);
    font-size: 25px;
    position: absolute;
    opacity: 0;
    right: 0;
    bottom: 0;
  }

  &.float {
    &:after {
      animation: floating 1.5s 1 ease-out;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
    opacity: 1;
    right: 0;
  }
  25% {
    right: 10px;
  }
  50% {
    right: -10px;
  }
  75% {
    right: 10px;
    opacity: 0.6;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    right: 0;
  }
}
