// Layout

#__next {
  letter-spacing: 0.3px;
}

.site-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 0px 20px 10px #000;

  .logo {
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;

    .logo__image {
      width: auto;
      height: 100%;
      vertical-align: top;
    }
  }

  @media screen and (max-width: 789px) {
    padding: 0;
  }
}

.site-layout {
  padding: 0 50px;
  margin-top: 64px;
  margin-bottom: 64px;

  .site-layout__background {
    padding: 24px;
    min-height: 360px;
  }

  @media screen and (max-width: 789px) {
    padding: 0;
  }
}

.site-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #1f1f1f;
  padding: 1em;
  box-shadow: 0px 0px 20px 0px #000;
}

button.ant-btn-sm {
  height: 45px;
  padding: 0 20px;
}

// Table => editable cells

.row--editable {
  .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

  .anticon-close-circle {
    display: none;
  }

  .ant-table-cell-fix-left {
    cursor: pointer;
  }
}

.row--editable__editing .anticon-close-circle,
.row--editable:hover .anticon-close-circle {
  display: inline-block;
}

// Table => checkbox cells

label.ant-checkbox-wrapper {
  margin-left: 8px;
}

.ant-table-cell.habit-delete-undo {
  padding: 0;
  text-align: center;
  min-width: 30px;
}

// Table => emoji icons

.ant-table-cell.habit-icon {
  font-size: 22px;
  height: 65px;
  min-width: 65px;
  line-height: 65px;
  text-align: center;
  padding: 0;
}

.ant-table-cell.habit-title {
  padding-left: 0;

  .habit-title--text {
    border-bottom: 2px solid transparent;
    margin: 0;

    &:hover {
      border-bottom: 2px solid #a6d47b40;
    }
  }
}

// Action buttons

button#action-button {
  border: 2px solid #75b748;
  margin: 25px 0;
  padding: 1rem;
  height: auto;
  min-width: 100%;
}

// Emoji Picker

.ant-modal-body .emoji-mart {
  background: none;
  height: 400px;
  font-family: inherit;
  border: none;
  margin: 0px auto;
  width: 100% !important; // override inline style
}

// Emoji animation

.progress-animation {
  position: relative;

  &:after {
    content: attr(data-emoji);
    font-size: 25px;
    position: absolute;
    opacity: 0;
    right: 0;
    bottom: 0;
  }

  &.float {
    &:after {
      animation: floating 1.5s 1 ease-out;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
    opacity: 1;
    right: 0;
  }
  25% {
    right: 10px;
  }
  50% {
    right: -10px;
  }
  75% {
    right: 10px;
    opacity: 0.6;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    right: 0;
  }
}
